body {
  background-attachment: fixed;
  font-family: OpenSansRegular, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-container {  
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
}

.settings-container {
  display: flex;
  width : 40px;
  height: 40px;
  justify-content: center;
  cursor: pointer;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 170px;
}

.title-container-mobile {
  .title-container;
  height: 80px;
}

.auditor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.maintenance-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#maintenance-img {
  height: 150px;
  width: 150px;
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;
  height: 170px;
}

player-container-mobile {
  .player-container;
  height: 170px;
  height: 100px;
}

.track-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.track-clickable {
  display: flex;
  //align-items: flex-end;
  //justify-content: flex-end;
  width: 50%;
  height: 250px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
    &:active {
      background-color: rgba(255, 255, 255, 0.05);
    }
}

.track-clickable-mobile {
  .track-clickable;
  border-radius: 5px;
  width: 80%;
  height: 120px;
}

.track-cover-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.track-infos-container {
  flex: 3;
  height: 100%;
  width: 100%;
  padding: 30px 10px 10px 10px;
}

.track-infos-container-mobile {
  .track-infos-container;
  padding: 10px 2px 0px 0px;
}

.track-cover {
  height: 200px;
  width: 200px;
  border-radius: 3px;
}

.track-cover-mobile {
  height: 90px;
  width: 90px;
  border-radius: 1px;
}

.track-title {
  color: white;
  font-size:150%;
}

.track-title-mobile {
  .track-title;
  font-size: 11px;
}

.track-artists {
  color: white;
  font-size:130%;
}

.track-artists-mobile {
  .track-artists;
  font-size: 10px;
}

.track-album {
  color: white;
  font-style: italic;
  font-size: 110%;
}

.track-album-mobile {
  .track-album;
  font-size: 9px;
}

.icon-sound {
  display: inline-block;
  height: 150px;
  width: 150px;
  background-color: Transparent;
  border: none;
  border-radius: 20px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  outline:0;
}

.icon-sound-mobile {
  .icon-sound;
  height: 90px;
  width: 90px;
  height: 80px;
  width: 80px;
}

.icon-sound img {
  display: block;
  height: 85%;
  width: 85%;
  cursor: pointer;
    &:hover {
      height: 88%;
      width: 88%;
    } 
    &:active {
      height: 83%;
      width: 83%;
    } 
}

.icon-sound-mobile img {
  display: block;
  height: 70px;
  width: 70px;
  cursor: pointer;
    &:hover {
      height: 73px;
      width: 73px;
    } 
    &:active {
      height: 68px;
      width: 68px;
    } 
}

.volume-slider-wrapper {
  display: inline-block;
  height: 120px;
  width: 120px;
  padding: 0;

  input {
    transform-origin: 60px 50px;
    transform: rotate(-90deg);
  }
}

.volume-slider-wrapper-mobile {
  display: inline-block;
  height: 70px;
  width: 70px;
  padding: 0;

  input {
    transform-origin: 40px 30px;
    transform: rotate(-90deg);
  }
}

.title {
  font-weight: bold;
  color: white;
  font-size:600%;
}

.title-mobile {
  .title;
  font-size:40px;
}

.sub-title {
  font-weight: bold;
  color: white;
  font-size:200%;
}

.sub-title-mobile {
  .sub-title;
  font-size:35px;
}

.text {
  color: white;
}

.current-listeners-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.current-listeners {
  color: white;
  font-size:120%;
}

.current-listeners-mobile {
  .current-listeners;
  font-size:12px;
}

.jingles-section {
  color: white;
  font-size:120%;
  margin-top: 20px;
  margin-bottom: 0px;
}

.jingles-section-mobile {
  .jingles-section;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.jingles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-jingles-container {
  display: flex;
  align-items: center;
}

.jingles-button {
  display: inline-block;
  color: white;
  font-size:14px;
  height: 130px;
  width: 130px;
  background-color: Transparent;
  border: 1px solid white;
  border-radius: 15px;
  padding: 8px;
  margin: 4px;
  vertical-align: top;
  outline:0;
  cursor: pointer;
    &:hover { 
      background-color: rgba(255, 255, 255, 0.3);
    }
    &:active { 
      background-color: rgba(0, 0, 0, 0.2);
    }
}

.jingles-button-mobile {
  .jingles-button;
  font-size:8px;
  height: 70px;
  width: 70px;
  border-radius: 5px;
  padding: 4px;
  margin: 2px;
}

@track-color: #ffffff;
@thumb-color: #ffffff;

@thumb-radius: 8px;
@thumb-height: 15px;
@thumb-width: 15px;
@thumb-border-width: 0px;
@thumb-border-color: white;

@track-width: 100%;
@track-height: 2px;
@track-border-width: 0px;
@track-border-color: black;

@track-radius: 5px;
@contrast: 5%;


.track() {
  width: @track-width;
  height: @track-height;
  cursor: pointer;
  animate: 0.2s;
}

.thumb() {
  border: @thumb-border-width solid @thumb-border-color;
  height: @thumb-height;
  width: @thumb-width;
  border-radius: @thumb-radius;
  background: @thumb-color;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  margin: @thumb-height/2 0;
  width: @track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    .track();
    background: @track-color;
    border-radius: @track-radius;
    border: @track-border-width solid @track-border-color;
  }
  
  &::-webkit-slider-thumb {
    .thumb();
    -webkit-appearance: none;
    margin-top: ((-@track-border-width * 2 + @track-height) / 2) - (@thumb-height / 2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten(@track-color, @contrast);
  }

  &::-moz-range-track {
    .track();
    background: @track-color;
    border-radius: @track-radius;
     border: @track-border-width solid @track-border-color;
  }
  &::-moz-range-thumb {
     .thumb();
  }

  &::-ms-track {
    .track(); 
    background: transparent;
    border-color: transparent;
    border-width: @thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken(@track-color, @contrast);
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
  }
  &::-ms-fill-upper {
    background: @track-color;
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
  }
  &::-ms-thumb {
    .thumb();
  }
  &:focus::-ms-fill-lower {
    background: @track-color;
  }
  &:focus::-ms-fill-upper {
    background: lighten(@track-color, @contrast);
  }
}

