/*
* Main Layout
*/

body {
  background-attachment: fixed;
}

#main-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.full-height {
  height: 100%;
}

/*
* Components
*/

#player-button {
  background-color: transparent;
  border-radius: 10px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.current-track-wrapper {
  display: flex;
  align-items: center;

  font-size: 18px;

  .current-track-container {
    cursor: pointer;

    border-radius: 10px;
    padding: 20px;

    background-color: rgba(255, 255, 255, 0.1);
      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
      }
      &:active {
        background-color: rgba(255, 255, 255, 0.05);
      }
  }
}

.current-listeners {
  color: white;
  font-size: 18px;
}

.error-msg {
  color: #9F3A38;
  font-weight: bold;
}

.user-modal-login-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .current-track-wrapper {
    font-size: 14px;
    .current-track-container {
      padding: 0px 15px;
    }
  }
}
