## GITIGNORE ##

package-lock.json

# Optional npm cache directory
.npm

# Transpiled JavaScript files from Typescript
dist
*.js

# Cache used by TypeScript's incremental build
*.tsbuildinfo

# Modules
node_modules

