@import url("radio-didou.css");

button {
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: Transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    vertical-align: top;
    outline:0;
    cursor: pointer;
}

button:hover {
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    vertical-align: top;
    outline:0;
    cursor: pointer;
}

button:active {
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    vertical-align: top;
    outline:0;
    cursor: pointer;
}


