body {
    background-image:url("../images/background.png");
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title-container {
    justify-content: center;
    align-items: center;
}

.player-container {
    justify-content: center;
    align-items: center;
}

.player-playpause-container {
    justify-content: center;
    align-items: center;
}

.player-volume-container {
    justify-content: center;
    align-items: center;
}

.player-jingles-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current-listeners-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#title {
    font-family: helvetica;
    font-weight: bold;
    color: white;
    font-size:600%;
}

#sub-title {
    font-family: helvetica;
    font-weight: bold;
    color: white;
    font-size:200%;
}

#currentListeners {
    font-family: helvetica;
    color: white;
    font-size:100%;
}

.icon-sound img {
    display: block;
    height: 130px;
    width: 130px;
}

.icon-sound:hover img {
    display: block;
    height: 140px;
    width: 140px;
}

.icon-sound:active img {
    display: block;
    height: 120px;
    width: 120px;
}

#jingles-name {
    font-family: helvetica;
    color: white;
    font-size:180%;
}



